obj/
bin/

TemplatePrinting/printer/out/**/*.*

TemplatePrinting/printer/templates/*.*
!TemplatePrinting/printer/templates/*.xlsx
!TemplatePrinting/printer/templates/*.html
!TemplatePrinting/printer/templates/*.css
!TemplatePrinting/printer/templates/*.ttf

PrintingLibrary/lib/chrome-headless-shell-win64

.sonarqube
.vs
